.jumbotron {
    background-color: blue;
}

body {
    background-color: #5f3838;
    color: #fff;
}

.user-info {
    font-size: 25px;
    margin: 0 300px 0 30px;
}

.user-info input {
    margin: 16px 0;
}

.question {
    margin: 30px;
    font-size: 20px;
}
.m-3 {
    opacity: 0.6;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}
.m-3:hover {
    opacity: 1.0;
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}​
